body {
  background-color: azure;
}

/* h3 {
  color: blue;
} */

#heading {
  /* Accessing by id */
  color: blue;
}

.heading-class {
    /* Accessing by class */
    color: brown;
}

button {
  color: white;
  background-color: blue;
}
